AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml

RewriteEngine on
 
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
 
RewriteRule ^(.*)$ index.php/$1